In [1]:
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# display all columns of the dataframe
pd.options.display.max_columns = None

# import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# import 'stats' package from scipy library
from scipy import stats

 Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 95% confidence.

The null and alternative hypothesis is:

H0: The average monthly income for all the education fields is the same
H1: The average monthly income due to at least one education field is different

In [2]:
df_emp = pd.read_csv('sales_emp.csv')

df_emp.head(2)

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,2,1,1,Single,3407,6986,7,Y,No,23,4,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,3,2,4,Married,2086,3335,3,Y,No,14,3,3,80,1,19,6,4,1,0,0,0

In [7]:
df_emp.shape

(54, 31)

In [3]:
stat , p = stats.shapiro(df_emp['MonthlyIncome'])
p

0.05732710659503937

In [4]:
df_emp['EducationField'].unique()

array(['Life Sciences', 'Technical Degree', 'Marketing', 'Medical',
       'Other'], dtype=object)

In [5]:
stat , p = stats.levene(df_emp[df_emp['EducationField']=='Life Sciences']['MonthlyIncome'], \
                       df_emp[df_emp['EducationField']=='Technical Degree']['MonthlyIncome'],\
                       df_emp[df_emp['EducationField']=='Marketing']['MonthlyIncome'],\
                       df_emp[df_emp['EducationField']=='Medical']['MonthlyIncome'],\
                       df_emp[df_emp['EducationField']=='Other']['MonthlyIncome'])
p

0.23476859109336565

In [6]:
test_stat, p_val = stats.f_oneway(df_emp[df_emp['EducationField']=='Life Sciences']['MonthlyIncome'], \
                       df_emp[df_emp['EducationField']=='Technical Degree']['MonthlyIncome'],\
                       df_emp[df_emp['EducationField']=='Marketing']['MonthlyIncome'],\
                       df_emp[df_emp['EducationField']=='Medical']['MonthlyIncome'],\
                       df_emp[df_emp['EducationField']=='Other']['MonthlyIncome'])

test_stat

0.9546031924978221

In [8]:
f_crit = stats.f.isf(q = 0.05, dfn = 4, dfd = 49)
f_crit

2.561124033899875

In [9]:
test_stat > f_crit

False

In [ ]:
#Fail to reject the H0.
#The average monthly income for all the education fields is the same

# EDA - Exploratory Data Analysis

In [24]:
df = pd.read_csv("Life_Expectancy.csv")

In [25]:
df.head()

,Country,Year,Status,Adult_Mortality,Infant_Deaths,Alcohol,Hepatitis B,Measles,BMI,Underfive_Deaths,Polio,Diphtheria,HIV,GDP,Population,Malnourished10_19,Malnourished5_9,Income_Index,Schooling,Life_Expectancy
0,Afghanistan,2015,Developing,263.0,62,0.01,65.0,1154,19.1,83,6,65,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,Albania,2015,Developing,74.0,0,4.60,99.0,0,58.0,0,99,99,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2,77.8
2,Algeria,2015,Developing,19.0,21,NaN,95.0,63,59.5,24,95,95,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4,75.6
3,Angola,2015,Developing,335.0,66,NaN,64.0,118,23.3,98,7,64,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4,52.4
4,Antigua,2015,Developing,13.0,0,NaN,99.0,0,47.7,0,86,99,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9,76.4

In [26]:
df.shape

(182, 20)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            182 non-null    object
 1   Year               182 non-null    int64
 2   Status             182 non-null    object
 3   Adult_Mortality    173 non-null    float64
 4   Infant_Deaths      182 non-null    int64
 5   Alcohol            15 non-null     float64
 6   Hepatitis B        173 non-null    float64
 7   Measles            182 non-null    int64
 8   BMI                178 non-null    float64
 9   Underfive_Deaths   182 non-null    int64
 10  Polio              182 non-null    int64
 11  Diphtheria         182 non-null    int64
 12  HIV                182 non-null    float64
 13  GDP                157 non-null    float64
 14  Population         141 non-null    float64
 15  Malnourished10_19  178 non-null    float64
 16  Malnourished5_9    178 non-null    float64
 17  Income_Index       169 non-null    float64
 18  Schooling          173 non-null    float64
 19  Life_Expectancy    173 non-null    float64
dtypes: float64(12), int64(6), object(2)
memory usage: 28.6+ KB

In [28]:
df.isnull().sum()

Country                0
Year                   0
Status                 0
Adult_Mortality        9
Infant_Deaths          0
Alcohol              167
Hepatitis B            9
Measles                0
BMI                    4
Underfive_Deaths       0
Polio                  0
Diphtheria             0
HIV                    0
GDP                   25
Population            41
Malnourished10_19      4
Malnourished5_9        4
Income_Index          13
Schooling              9
Life_Expectancy        9
dtype: int64

In [29]:
df = df[df['Life_Expectancy'].notnull()]

In [30]:
df.shape

(173, 20)

In [31]:
df.isnull().sum()

Country                0
Year                   0
Status                 0
Adult_Mortality        0
Infant_Deaths          0
Alcohol              166
Hepatitis B            9
Measles                0
BMI                    2
Underfive_Deaths       0
Polio                  0
Diphtheria             0
HIV                    0
GDP                   21
Population            34
Malnourished10_19      2
Malnourished5_9        2
Income_Index           7
Schooling              7
Life_Expectancy        0
dtype: int64

In [36]:
df.drop('Alcohol', axis=1, inplace = True)

In [37]:
df['Adult_Mortality'].fillna(df['Adult_Mortality'].median(),inplace = True)
df['Hepatitis B'].fillna(df['Hepatitis B'].median(),inplace = True)
df['BMI'].fillna(df['BMI'].median(),inplace = True)
df['GDP'].fillna(df['GDP'].median(),inplace = True)
df['Population'].fillna(df['Population'].median(),inplace = True)
df['Malnourished10_19'].fillna(df['Malnourished10_19'].median(),inplace = True)
df['Malnourished5_9'].fillna(df['Malnourished5_9'].median(),inplace = True)
df['Income_Index'].fillna(df['Income_Index'].median(),inplace = True)
df['Schooling'].fillna(df['Schooling'].median(),inplace = True)

In [38]:
df.isnull().sum()

Country              0
Year                 0
Status               0
Adult_Mortality      0
Infant_Deaths        0
Hepatitis B          0
Measles              0
BMI                  0
Underfive_Deaths     0
Polio                0
Diphtheria           0
HIV                  0
GDP                  0
Population           0
Malnourished10_19    0
Malnourished5_9      0
Income_Index         0
Schooling            0
Life_Expectancy      0
dtype: int64

In [ ]:
#Missing value for continuous - Check the distribution.
#If skewed then replace with Media